.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.primary-color {
    color: #4E47FF;
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}

.header {
    background-image: url('../assets/hero-bg.png');
    height: 600px;
    background-position: center;

}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-title {
    font-weight: 900;
    font-size: 34px;
}

/* Banner style */

.banner {
    /* justify-content: center; */
    text-align: center;
    margin: 100px 267px;
}

.banner-title {
    font-size: 55px;
    font-weight: 600;
    color: #252432;
}

/* Action style */

.action {
    display: flex;
    justify-content: space-between;
    margin: 116px 160px 116px 140px;
}

.action-content {
    max-width: 417px;
    /* align-items: center; */
}

.action-title {
    font-size: 42px;
    font-weight: bold;
}

.banner-pic {
    width: 403px;
    border-radius: 48px;
}

/* productive style */
.productive {
    border-radius: 10px;
    background-color: #e5e7ff;
    margin: 116px 160px 137px 140px;
    padding: 50px 142px;
    align-items: center;
}

.productive-title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    /* margin-bottom: 40px; */
}

.productive-items {
    display: flex;
    justify-content: space-around;
}

.item-title {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.item-description {
    color: rgba(0, 0, 0, 0.5);
}




/* focus style */
.focus {
    justify-content: center;
    align-items: center;
    margin: 130px 160px 90px 140px;
    padding: 70px auto;
}

.focus-content {
    text-align: center;
}

.focus-title {
    font-size: 50px;
    font-weight: bold;
}

.focus-pic {
    border-radius: 48px;
    max-width: 840px;
    margin: 20px 150px 75px;
}