body {
    background-color: #f5f8ff;
    /* margin: 0; */
    /* width: 1440px; */

}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.primary-color {
    color: #4E47FF;
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}

.header {
    background-image: url('../assets/hero-bg.png');
    height: 600px;
    background-position: center;

}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-title {
    font-weight: 900;
    font-size: 34px;
}

/* Banner style */

.banner {
    /* justify-content: center; */
    text-align: center;
    margin: 100px 300px;
}

.banner-title {
    font-size: 55px;
    font-weight: 600;
    color: #252432;
}

/* Action style */

.action {
    display: flex;
    justify-content: space-between;
    margin: 116px 160px 116px 140px;
}

.action-content {
    max-width: 417px;
    /* align-items: center; */
}

.action-title {
    font-size: 42px;
    font-weight: bold;
}

.banner-pic {
    width: 403px;
    border-radius: 48px;
}

/* productive style */
.productive {
    border-radius: 10px;
    background-color: #e5e7ff;
    margin: 116px 160px 137px 140px;
    padding: 50px 142px;
    align-items: center;
}

.productive-title {
    text-align: center;
    background-color: #e5e7ff;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    /* margin-bottom: 40px; */
}

.productive-items {
    display: flex;
    justify-content: space-around;
    margin: 0;
    background-color: #e5e7ff;
}

.item-title {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
    background-color: #e5e7ff;
}

.item-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    text-align: center;
    background-color: #e5e7ff;
}


/* review style */

.review-head {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.all-review {
    display: flex;
    gap: 30px;
    margin: 0 150px;
    justify-content: space-around;
}

.review-container {
    padding: 24px;
    background-color: #e8e9f8;
    border-radius: 10px;
    /* box-shadow: 3px 3px 10px; */
    margin: 0 30px;
}


.reviewer {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    align-items: center;
}

.review-name {
    color: rgb(109, 108, 108);
}



.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* focus style */
.focus {
    justify-content: center;
    align-items: center;
    margin: 130px 160px 90px 140px;
    padding: 70px auto;
    background-color: #f5f3f3;
    border-radius: 14px;
}

.focus-content {
    text-align: center;
    padding-top: 20px;
}

.focus-title {
    font-size: 50px;
    font-weight: bold;
}

.focus-pic {
    border-radius: 48px;
    max-width: 840px;
    margin: 20px 150px 75px;
}

/* Get in touch */
.get-touch {
    padding: 90px 150px 15px;
    display: flex;
    margin-bottom: 70px;
}

.get-touch-content {
    display: flex;
    gap: 100px;
}

.get-touch-title {
    font-size: 95px;
    font-weight: bold;
    width: 528px;

}

form input[type="text"],
form input[type="email"] {
    height: 40px;
    border-color: rgb(189, 186, 186);
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 500px;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 20px;
}

form textarea {
    height: 100px;
    border-color: rgb(189, 186, 186);
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 500px;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 20px;
}

/* form {
    padding: 70px 0;
} */

.label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.btn-gett {
    width: 100%;
    font-size: 16px;

}

/* footer style */

footer {
    background-color: #FFFFFF;

}

.footer-content {
    text-align: center;
    margin: 150px 500px;
}

.footer-title {
    font-size: 90px;
    font-weight: 900;
    color: #4E47FF;
    margin: 0;
}

.footer-subtitle {
    color: #8987A1;
    /* width: 500px; */
    /* max-width: 600px; */
    /* margin: 0 auto; */
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #8987A1;
}

.footer-list {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
}

/* Bonus style */

button:hover,
input:hover {
    color: #252432;
    background-color: yellow;
    font-size: 17px;
}